/* ========== Estilos Gerais ========== */


body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff; /* bg-white */
    color: #1f2937; /* text-gray-900 (aproximado) */
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.main-container {
    display: flex;
    height: 100vh;
}
.link-primary {
    color: #3b82f6; /* text-blue-500 */
    text-decoration: none;
}
.link-primary:hover {
    text-decoration: underline;
}
.link-show-more {
    color: #3b82f6; /* text-blue-500 */
    margin-top: 1rem; /* mt-4 */
    display: block;
    font-size: 0.875rem; /* text-sm */
    text-decoration: none;
}
.link-show-more:hover {
    text-decoration: underline;
}

/* ========== scrollbar ========== */

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #9ca3af;
}

/* ========== SIDEBAR (ajuste da esquerda navegação) ========== */

.sidebar-container {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
    border-right: 1px solid #e5e7eb; 
    width: 20%; 
     background-color: #ffffff; 

}

.sidebar-logo-container {
    padding: 1rem; 
     
}

.sidebar-logo {
    color: #3b82f6; 
    padding: 0.5rem; 

}

.logo-svg {
    width: 2rem; 
    height: 2rem; 
    fill: currentColor;
}

.sidebar-nav {
    margin-top: 0.5rem; 
}

